@{
    ViewBag.Title = "Home Page";
}
@*Inserir mais espaço aqui*@
<div class="row">
    <div class="col-md-12" style="text-align:center">
        <h1>Prontuário Digital</h1>
    </div>
</div>
    @*Inserir mais espaço aqui*@
<div class="row">
    <div class="col-md-4">
        <h3>Horário de entrada</h3>

        @*Inserir ComboBox aqui dentro*@
    </div>
    <div class="col-md-4">
        <h3>Horário de saida</h3>
        @*Inserir ComboBox aqui dentro*@
    </div>
    <div class="col-md-4">
        <h3>Marcar Como</h3>
        @*Inserir ComboBox Aqui dentro*@
    </div>
<div class="row">
    <div class="col-md-4">
        <select>
            <option>        </option>
        </select>
    </div>
</div>
</div>